* {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  align-items: center;
}

.result {
  width: 100%;
  color: #fff;
  font-size: 16px;
  background-color: #1e1e1e;
}

.panel {
  height: 100%;
  width: 50%;
  position: relative;
}


.copyBtn {
  position: absolute;
  cursor: pointer;
  border: 0;
  right: 0;
  background-color: #3d4d56;
  color: #fff;
  top: 0;
  z-index: 9;
  height: 40px;
  border-radius: 4px;
  padding: 0 8px;
}

html,body,#root,.App {
  height: 100%;
}




.formatIcon::after {
  content: '\e60f';
  font-family: "iconfont"; 
}
.clearIcon::after {
  content: '\e62f';
    font-family: "iconfont";
    font-size: 21px;
    position: relative;
    top: -4px;
}